.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #0073e6;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: rgb(158, 47, 114);
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #2c77c1;
  border-radius: 4px 0 0 4px;
  outline: none;
  background-color: #005;
  transition: background-color 0.3s;
}

.button:hover,
.button:focus {
  border-color: #5f1a1a;
  background-color: rgb(18, 138, 138);
}

.btn:hover {
  color: rgb(11, 11, 99);
}
